.set-timer section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.set-timer section button {
  color: var(--color);
  transition: .3s;
}
.set-timer .numbers {
  display: flex;
  flex-wrap: wrap;
}
 
.set-timer .play {
  color: #fff;
  background: var(--primary-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: .3s;
  transform: scale(0.3);
  visibility: hidden;
  opacity: 0;
}

.active-play {
  transform: scale(1) !important;
  visibility: visible !important;
  opacity: 1 !important;
} 

.set-timer .numbers button {
  display: inline-block;
  flex-basis: 33.3%;
  font-size: 2rem;
  padding: 1rem;
  color: var(--color)
}

.set-timer .numbers button:last-child {
  flex-basis: 100%;
}


@keyframes scaleIn {
  from {
    transform: scale(.5);
    visibility: hidden;
    opacity: 0;
  }
  to {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
}