.set-timer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.set-timer section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.set-timer section button {
  color: var(--color);
  transition: .3s;
}
.numbers {
  display: flex;
  flex-wrap: wrap;
}
 

.numbers button {
  display: inline-block;
  flex-basis: 33.3%;
  font-size: 2rem;
  padding: 1rem;
  color: var(--color);
  outline: none;
}

.numbers button:last-child {
  flex-basis: 100%;
}

.display {
  height: 100px;
  width: 100%;
  border-bottom: .5px solid #666;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.display p {
  font-size: 3rem;
  color: var(--body);
}
.display .active p {
  color: var(--primary-color);
}

.display .numbers-display {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.display span {
  font-size: 1.3rem;
  padding-left: .5rem
}

.display svg {
  fill: var(--color)
}

