.display {
  height: 100px;
  width: 100%;
  border-bottom: .5px solid #666;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.display p {
  font-size: 3rem;
  color: var(--body);
}
.display .active p {
  color: var(--primary-color);
}

.display .numbers-display {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.display span {
  font-size: 1.3rem;
  padding-left: .5rem
}

.display svg {
  fill: var(--color)
}