#timer section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
#timer section button {
  color: var(--color)
}
#timer .numbers {
  display: flex;
  flex-wrap: wrap;
}
 
#timer .play {
  color: #fff;
  background: var(--primary-color);
  padding: 15px;
  border-radius: 50%;
}

#timer .numbers button {
  display: inline-block;
  flex-basis: 33.3%;
  font-size: 2rem;
  padding: 1rem;
  color: var(--color)
}

#timer .numbers button:last-child {
  flex-basis: 100%;
}
